@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

.container {
  font-family: "Pretendard-Regular";
  font-weight: 600;
}

.home {
  display: flex;
  flex-flow: column nowrap;
  height: 68vh;
  position: relative;
}

.home::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("../../public/bg.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  height: 68vh;
  width: 100%;
}

.h-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Pretendard-Regular";
  height: 100%;
}

.h-body h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 15px;
  position: relative;
}

.h-body p {
  font-size: 20px;
  position: relative;
  font-weight: 600;
}

.h-body p:nth-child(2) {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 50px;
}

#btn_start {
  margin-top: 50px;
  width: 200px;
  font-family: "Pretendard-Regular" !important;
  font-weight: 600;
  border: 2px solid rgb(91, 91, 255);
  position: relative;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  padding-top: 3rem;
  background-color: rgb(247, 247, 247);
  align-items: center;
  padding-bottom: 2rem;

  font-family: "Pretendard-Regular";
}

.footer .f-body {
  width: clamp(750px, 90%, 1150px);
}

.game {
  display: flex;
  flex-flow: column nowrap;
  font-family: "Pretendard-Regular";
  padding: 50px 0;
  align-items: center;
  justify-content: center;
}

.game h2 {
  font-size: 30px;
  font-weight: 600;
}

.game p:nth-child(2) {
  color: gray;
  margin-bottom: 55px;
  font-size: 18px;
}

.g-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
}

.news_cate {
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid gray;
  border-radius: 30px;
  width: 180px;
  height: 250px;
  align-self: center;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 30px 0;
  cursor: pointer;
}

.news_cate:hover {
  border: 2px solid rgb(29, 45, 51);
  background-color: rgb(233, 233, 233);
}

.news_cate h3 {
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 23px;
}

.news_cate p {
  font-weight: 600;
  font-size: 18px;
  color: gray;
  margin: 0 !important;
  border-bottom: 2px solid gray;
}

.play {
  display: flex;
  flex-flow: column nowrap;
  font-family: "Pretendard-Regular";
  padding: 40px 0;
  align-items: center;
  min-height: 68vh;
}

.play-content {
  display: flex;
  flex-flow: column nowrap;
}

.play-content h2 {
  font-size: 40px;
  font-weight: 600;
}

.play-content p:nth-child(2) {
  color: gray;
  margin-bottom: 60px;
}

.play-content p:nth-child(3) {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 60px;
}

.play-content .news-inner {
  max-width: 650px;
  align-self: center;
  margin-bottom: 100px;
}

.OX {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8vw;

  align-items: center;
}

.OX p {
  margin-bottom: 0 !important;
  margin-top: 10px;
  font-family: "Pretendard-Regular";
}

.OX .O {
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid lightgreen;
  padding: 15px 80px;
  border-radius: 40px;
  cursor: pointer;
}

.OX .O:hover {
  background-color: rgb(235, 255, 235);
}

.OX .X {
  border: 2px solid red;
  padding: 15px 80px;
  border-radius: 40px;
  cursor: pointer;
}

.OX .X:hover {
  background-color: rgb(255, 229, 229);
}

.pattern {
  display: flex;
  flex-flow: column nowrap;

  align-items: flex-start;
}

.pattern h4 {
  font-weight: 600;
  align-self: center;
  margin-bottom: 20px;
}

.pattern h6 {
  align-self: center;
}

.pattern h6:nth-child(3) {
  margin-bottom: 100px;
}

.pattern p {
  color: gray;
  font-size: 17px !important;
  font-weight: 500 !important;
  padding-left: 70px;
}

.pattern p:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600 !important;
  color: black;
}

#diff {
  display: flex;
  flex-flow: column nowrap;
  margin: 20vh 0;
}

#diff h2 {
  font-size: 35px;
  font-weight: 600;
}

#diff p {
  font-size: 18px;
  color: gray;
  font-weight: 500;
  margin-bottom: 160px;
}

#diff .diffBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7vw;
  font-size: 30px;
  align-items: center;
}

.box {
  padding: 30px 100px;
  cursor: pointer;
}

.box:nth-child(1) {
  border: 2px solid red;
  border-radius: 40px;
  color: red;
}

.box:nth-child(1):hover {
  background-color: rgb(255, 229, 229);
}

.box:nth-child(2) {
  border: 2px solid orange;
  border-radius: 40px;
  color: orange;
}

.box:nth-child(2):hover {
  background-color: rgb(255, 240, 213);
}

.box:nth-child(3) {
  border: 2px solid rgb(47, 255, 127);
  border-radius: 40px;
  color: rgb(47, 255, 127);
}

.box:nth-child(3):hover {
  background-color: rgb(218, 255, 232);
}

#back {
  position: fixed;
  top: 80px;
  right: 50px;
  cursor: pointer;
  color: gray;
}

#back:hover {
  color: black;
}

.result {
  display: flex;
  flex-flow: column nowrap;
  font-family: "Pretendard-Regular";
  padding: 40px 0;
  align-items: center;
  min-height: 68vh;
}

.res-body {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2vw;
  margin-bottom: 5rem;
}

.result h2 {
  font-weight: 600;
}

.result p:nth-child(2) {
  margin-bottom: 40px;
}

.res-body .leftbox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.leftbox .heads {
  display: grid;
  width: 65%;
  grid-template-columns: repeat(4, 1fr);
  font-weight: 600;
  border-bottom: 2px solid lightgray;
}

.heads p {
  margin: 0 !important;
  padding-bottom: 10px;
}

.res-body .rightbox {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 65%;
  justify-self: center;
}

.rightbox p:nth-child(1) {
  font-size: 20px;
  font-weight: 600;
  align-self: center;
  margin-bottom: 20px !important;
}

.rightbox p {
  margin: 0 !important;
  padding-bottom: 20px;
}

#btn_end {
  font-weight: 600;
  width: 200px;
  font-family: "Pretendard-Regular" !important;
  border: 2px solid rgb(91, 91, 255);
  position: relative;
  margin-top: 50px;
}

.desc {
  font-weight: 500 !important;
  font-size: 16px !important;
}
